<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="dashbaord">
    <div class="d-flex flex-column">
        <div class="w-100 mb-3">
            <h2>Admin Panel</h2>
        </div>
        <h5 class="mb-2 w-100">Locations</h5>
        <div class="w-100 mb-2">
            <button type="button" class="btn btn-primary btn-lg" id="add-loc-btn" >
                Add
            </button>
        </div>
        <div class="w-100 mt-2">
            <div >

                <table
                        th:if="${locations != null}"
                        class="table table-hover table-sm"
                >
                    <caption>Total Locations: [[${locations.size()}]]</caption>
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Enable/Disable</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                            class="loc-info"
                            th:each="location: ${locations}"
                            th:attr="locid=${location.getId()}"
                    >
                        <th scope="row">[[${location.getId()}]]</th>
                        <td>
                            <input class="form-control form-control-sm location-name" type="text" th:value="${location.getName()}" >
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm loc-edit-btn">Update</button>
                        </td>
                        <td class="isactive" th:attr="isactive=${location.isVisible()}">
                            <button

                                    type="button"
                                    class="btn btn-sm loc-visible-btn"
                                    th:classappend="${location.isVisible() ? 'btn-info' : 'btn-secondary'}"
                            >
                                [[${location.isVisible() ? "Disable" : "Enable"}]]
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addloc-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-4">
                        <form method="POST" id="addloc-form" action="#">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Location Name</label>
                                <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

