<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="editpost">
    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
        <img th:src="@{/images/more-vertical.svg}" width="14px" />
    </div>
    <div class="dropdown-menu dropdown-menu-right animate__animated animate__fadeIn" th:attr="postid=${post.getId()}">
        <button class="dropdown-item pin-post" type="button">
            <img width="20px" th:src="@{/images/bookmark.svg}"/> Pin Post
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">
            <img width="20px" th:src="@{/images/edit-3.svg}"/> Edit Post
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item delete-post" type="button">
            <img width="20px" th:src="@{/images/trash.svg}"/> Delete Post
        </button>
    </div>
</th:block>


<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="editpinnedpost">
    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
        <img th:src="@{/images/bookmark.svg}" width="14px" class="mr-1" />
        <img th:src="@{/images/more-vertical.svg}" width="14px" />
    </div>
    <div class="dropdown-menu dropdown-menu-right animate__animated animate__fadeIn" th:attr="postid=${pinnedPost.getPost().getId()}">
        <button class="dropdown-item unpin-post" type="button">
            <img width="20px" th:src="@{/images/bookmark.svg}"/> Unpin Post
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">
            <img width="20px" th:src="@{/images/edit-3.svg}"/> Edit Post
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item delete-post" type="button">
            <img width="20px" th:src="@{/images/trash.svg}"/> Delete Post
        </button>
    </div>
</th:block>