<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="editpost">
    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
        <img th:src="@{/images/more-vertical.svg}" width="14px" />
    </div>
    <div
            class="dropdown-menu dropdown-menu-right postid-holder"
            th:attr="postid=${post.getId()}"
    >
        <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUser().getId() == post.getUser().getId()}">
            <button  class="dropdown-item pin-post" type="button">
                <img width="20px" th:src="@{/images/bookmark.svg}"/> Pin Post
            </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item modify-post" type="button">
                <img width="20px" th:src="@{/images/edit-3.svg}"/> Edit Post
            </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item delete-post" type="button">
                <img width="20px" th:src="@{/images/trash.svg}"/> Delete Post
            </button>
            <div class="dropdown-divider"></div>
        </div>
        <button class="dropdown-item" type="button">
            <img width="20px" th:src="@{/images/trash.svg}"/> Report
        </button>
    </div>
</th:block>


<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="editpinnedpost">
    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
        <img th:src="@{/images/bookmark.svg}" width="14px" class="mr-1" />
        <img th:src="@{/images/more-vertical.svg}" width="14px" />
    </div>
    <div class="dropdown-menu dropdown-menu-right postid-holder" th:attr="postid=${pinnedPost.getPost().getId()}">
        <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUser().getId() == pinnedPost.getUser().getId()}">
            <button class="dropdown-item unpin-post" type="button">
                <img width="20px" th:src="@{/images/bookmark.svg}"/> Unpin Post
            </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item modify-post" type="button">
                <img width="20px" th:src="@{/images/edit-3.svg}"/> Edit Post
            </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item delete-post" type="button">
                <img width="20px" th:src="@{/images/trash.svg}"/> Delete Post
            </button>
        </div>
        <button class="dropdown-item" type="button">
            <img width="20px" th:src="@{/images/trash.svg}"/> Report
        </button>
    </div>

</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="editmodal">
    <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div
                            sec:authorize="isAuthenticated()"
                            class="card mb-4 create-post"
                    >
                        <form method="POST" id="edit-post-form" action="#">
                            <th:block th:replace="fragments/createpost :: postform (isEdit = true)"/></th:block>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>