<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: header"></div>
<body>
    <div th:replace="fragments/navbar :: navigation"></div>



    <div class="container-fluid main-container">
        <div class="row">
            <div class="container">
                <div class="d-flex flex-row">
                    <!-- left sidebar profile -->
                    <div class="p-4 w-25 bd-highlight">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    Recent Places
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- middle column posts -->
                    <div class="p-10 w-50 bd-highlight">
                        <div
                                sec:authorize="isAuthenticated()"
                                class="card mb-4 create-post"
                        >
                            <form method="POST" th:action="@{/posts}">
                                <th:block th:replace="fragments/createpost :: postform (isEdit = false)"/></th:block>
                            </form>
                        </div>
                        <th:block th:replace="fragments/postlist :: postlist"/>
                        <th:block th:replace="fragments/pagination :: pagination"/>


                    </div>

                    <!-- right sidebar suggestions -->
                    <div class="p-4 w-25 bd-highlight">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    Top Travellers
                                </div>
                            </div>
                        </div>
                    </div>

                    <th:block th:replace="fragments/editpost :: editmodal"/></th:block>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/scripts :: end"/>
    <script type="text/javascript" src="/js/posts.js"></script>
</body>
</html>