body, html {
    font-family: 'Poppins', 'Roboto', sans-serif;
    background-color: #f5f8fa;
    /*color: #626c72;*/
    font-size: 14px;
}

.noselect:focus {
    outline: none;
    outline-width: 0;
}

.bg-nav {
    background-color: #fff;
}

.main-container {
    padding-top: 65px;
    min-height: 100vh;
}

.navbar {
    padding: 10px 6rem;
    box-shadow: inset 0 -1px #d1d1d1;
}

.cover-photo {
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 30px;
}

.cover-photo .profile-image img {
    border-radius: 50%;
    width: 170px;
    border: 3px solid #fff;
}

.profile-name h3 {
    text-shadow: -2px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    color: #212121;
    letter-spacing: 1px;
}

.navbar-dark .navbar-brand {
    color: #1769aa;
}

.navbar-dark .navbar-brand:hover {
    color: #ddd;
}

.nav-login .form-control {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1;
    /*border: 1px solid #343a40;*/
    border: none;
    background-color: #eee;
}

.nav-user {
    color: #212121;
    font-size: 14px;
}

.navbar-collapse ul {
    margin-bottom: 0 !important;
}

.navbar-collapse .btn-sm {
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 2px;
}


.card {
    border: none;
}

.post-card {
    margin-bottom: 15px;
}

.post-card .card-text {
    font-size: 14px;
    color: #626c72;
    font-family: 'Roboto', sans-serif;
}

.post-card a {
    color: #3f4257;
    text-decoration: none;
}

.post-card .card-title {
    font-size: 14px;
    font-weight: 600;
}


.post-card .user-image img {
    width: 50px;
    border-radius: 50%;
}

.post-card .post-date {
    font-size: 16px;
    margin-top: 1px;
}

.post-date img {
    width: 13px;
}

.post-date a {
    text-decoration: none;
}

.post-date a:hover {
    text-decoration: underline !important;
}

.post-card .post-location {
    font-size: 13px;
}

.post-card .post-location img {
    width: 13px;
    height: 13px;
}

.post-card .actions img {
    width: 15px;
    height: 15px;
}

.post-card .actions .card-link {
    color:  #9a9fbf;
    fill: #9a9fbf;
}

.create-post, .create-post .input-group-text, textarea, select {
    font-size: 14px !important;
}

.create-post textarea {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #e7edf2;
}

.create-post .editor-image {
    padding: 10px 10px;
}

.create-post .editor-image img {
    width: 50px;
    border-radius: 50%;
}

.create-post .card-header {
    border-bottom: 1px solid #e7edf2;
}

 .create-post .input-group-text, select {
    font-size: 12px !important;
}

.create-post .input-group-text {
    padding: 0 4px;
    background-color: #fff;
}

.create-post .input-group-text img {
    width: 20px;
}

.edit-post .dropdown-item {
    padding: 3px 7px;
    font-size: 13px;
}

.modal-backdrop {
    z-index: -1;
}